.backdrop {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: #bad5ff;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 12px;
}

.modalText {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.modalBtns {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #414bff;
}
